.flickr-album-teaser {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flickr-album-teaser > a {
  width: 100%;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.flickr-album-teaser > a:hover {
  background: #f0f0f0;
  text-decoration: none;
}
.flickr-album-teaser__image {
  position: relative;
  margin-bottom: 15px;
}
.flickr-album-teaser__image-inner {
  padding-bottom: 100%;
  background-position: center center;
  background-size: cover;
}
.flickr-album-full__back {
  text-align: right;
  margin-bottom: 30px;
}
.flickr-album-full__image img {
  width: 100%;
}
.flickr-album-full__image > a {
  position: relative;
  display: block;
}
.flickr-album-full__image > a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.flickr-album-full__image > a:hover:after {
  opacity: .3;
}

.view-id-flickr_albums.view-display-id-overview .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 0 -10px;
}
@media only screen and (min-width: 640px) {
  .view-id-flickr_albums.view-display-id-overview .view-content {
    margin: 0 -10px;
  }
}
.view-id-flickr_albums.view-display-id-overview .views-row {
  width: 50%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (min-width: 640px) {
  .view-id-flickr_albums.view-display-id-overview .views-row {
    width: 33.333333%;
    padding: 0 15px;
  }
}
