.flickr-album {
	&-teaser {
		width: 100%;
		display: flex;
		align-content: stretch;
		align-items: stretch;

		& > a {
			width: 100%;
			padding: 15px;
			display: block;
			text-decoration: none;

			&:hover {
				background: #f0f0f0;
				text-decoration: none;
			}
		}

		&__image {
			position: relative;
			margin-bottom: 15px;

			&-inner {
				padding-bottom: 100%;
				background-position: center center;
				background-size: cover;
			}
		}
	}
	&-full {
		&__back {
			text-align: right;
			margin-bottom: 30px;
		}

		&__image {
			img {
				width: 100%;
			}
			& > a {
				position: relative;
				display: block;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: #000;
					opacity: 0;
					transition: opacity .3s ease;
				}
				&:hover:after {
					opacity: .3;
				}
			}
		}
	}
}

.view-id-flickr_albums {
	&.view-display-id-overview {
		.view-content {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			align-content: stretch;
			margin: 0 -10px;

			@media only screen and (min-width: 640px) {
				margin: 0 -10px;
			}
		}
		.views-row {
			width: 50%;
			padding: 0 10px;
			display: flex;
			align-content: stretch;
			align-items: stretch;

			@media only screen and (min-width: 640px) {
				width: 33.333333%;
				padding: 0 15px;
			}
		}
	}
}